<!-- <form action="/groomer" method="get">
	<input type="text" name="id" placeholder="Groomer ID"></input>
</form>

<form action="/pet" method="get">
	<input type="text" name="id" placeholder="Pet ID"></input>
</form> -->

<div class="cf">
	<h2>Groomers</h2> <h3><a href="/groomer/new">Add</a></h3>
</div>
<div class="cf">	
	<ul>
		<% Groomer.all.each do |g| %>
			<li><a href="/groomer/<%= g.id %>"><p><%= g.name %></p></a></li>
		<% end %>
	</ul>
</div>

<div class="cf">
	<h2>Pets</h2> <h3><a href="/pet/new">Add</a></h3>
</div>
<div class="cf">
	<ul>
		<% Pet.all.each do |p| %>
			<li><a href="/pet/<%= p.id %>"><p><%= p.name %></p></a></li>
		<% end %>
	</ul>
</div>