<p><a href="/pet/<%= @p.id %>">Back</a></p>

<embed src="/pdfs/<%= @p.name %>_notes.pdf" width="75%" height="100%" type="application/pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">